# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# cmake
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

# output directories
bin
lib

# tmp files
*.swp
*~

src/client/build-Uploader-Desktop_Qt_5_2_0_clang_64bit-Debug/
src/client/Uploader.pro.user
